html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin:0;
    padding:0;
    line-height: 1.5;
  }

a {
    text-decoration: none;
} 


.container {
    width: 100%;
    max-width: $site-max-width;
    margin: 0 auto;
    padding: 0 $gutter;
}

.grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}