@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto:100&display=swap');

// Variables

$gutter: 2rem;
$site-max-width: 1600px;

$header-height: 5rem;

// Colors
$primary: white;
$secondary: white;


$font__color--primary: rgb(1,1,1);
$font__color--highlight: rgb(254,254,254);

$font__logo: 'Righteous', cursive;
$font__soon: 'Roboto', sans-serif;